<input style="display:none" type="text" name="name" [(ngModel)]="platilloAddId">
<div class="enlinea">
	<div class="etiqueta"><label>Platillo:</label></div>
	<div class="texto"><input type="text" name="name" [(ngModel)]="platilloAddNombre" placeholder="nombre"></div>
</div>
<br>
<div class="enlinea">
	<div class="etiqueta"><label>Descripcion:</label></div>
	<div class="texto"><input type="text" name="name" [(ngModel)]="platilloAddDescripcion" placeholder="decripcion platillo"></div>
</div>
<br>
<div class="enlinea">
	<div class="etiqueta"><label>Precio:</label></div>
	<div class="texto"><input type="number" name="name" [(ngModel)]="platilloAddPrecio" placeholder="precio"></div>
</div>
<br>
<br>
<div class="enlinea">
	<button class="enlinea btn btn-success" (click)="insertPlatillo()">Agregar</button>
	<button class="enlinea btn btn-success" (click)="updatePlatillo(ngModel)">Actualizar</button>
	<button class="enlinea btn btn-success" (click)="deletePlatillo(ngModel)">Eliminar</button>
</div>