<input style="display:none" type="text" name="name" [(ngModel)]="clienteAddId">
<div class="enlinea">
	<label class="etiqueta">Nombre:</label>
	<input placeholder="nombre" class="texto" type="text" name="name" [(ngModel)]="clienteAddNombre">
</div>
<br>
<div class="enlinea">
	<label class="etiqueta">Apellidos:</label>
	<input placeholder="apellidos" class="texto" type="text" name="name" [(ngModel)]="clienteAddApellidos">
</div>
<br>
<div class="enlinea">
	<label class="etiqueta">Telefono:</label>
	<input placeholder="telefono" pattern="[0-9]{9}" class="texto" type="tel" name="name" [(ngModel)]="clienteAddTelefono">
</div>
<br>
<div class="enlinea">
	<label class="etiqueta">Correo-e:</label>
	<input placeholder="correo-e" class="texto" type="email" name="name" [(ngModel)]="clienteAddCorreo" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
</div>
<br>
<div class="enlinea">
	<label class="etiqueta">Direccion:</label>
	<input placeholder="direccion" class="area-texto" type="textarea" rows="4" columns="50" name="name" [(ngModel)]="clienteAddDireccion">
</div>
<br><br>
<div class="enlinea">
	<button class="enlinea btn btn-success" (click)="insertCliente()">Agregar</button>
	<button class="enlinea btn btn-success" (click)="updateCliente(ngModel)">Actualizar</button>
	<button class="enlinea btn btn-success" (click)="deleteCliente(ngModel)">Eliminar</button>
</div>
