<div class="row">
	<nav class="col-8 routes">
		<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> | 
		<a routerLink="/clientes" routerLinkActive="active">Clientes</a> | 
		<a routerLink="/platillos" routerLinkActive="active">Platillos</a> | 
		<a routerLink="/about" routerLinkActive="active">About</a>
	</nav>
	<nav class="col-4 text-right social">
		<a href="http://github.com"><i class="fa fa-github" aria-hidden="true"></i></a> 
		<a href="http://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
	</nav>
</div>