<div class="clientes">
	<div class="page-title row">
		<h2 class="col-5">Clientes</h2>
	</div>
	<div class="clientes row">
		<ul class="col-6">
			<li *ngFor="let cliente of clientes" class="row cliente-display">
				<app-clientes-display [cliente]='cliente' 
					(borrarCliente)="borrarCliente($event)" 
					(editarCliente)="editarCliente($event)" class="col-12 card" >
				</app-clientes-display>
			</li>
		</ul>	
		<ul class="col-4 offset-1">
			<app-cliente-agregar [selectedCliente]="selectedCliente" [canAdd]='!loading'
				(agregarCliente)="agregarCliente($event)" 
				(editarCliente)="editarClienteSave($event)">
			</app-cliente-agregar>
			<div *ngIf="loading">
				loading...
			</div>
		</ul>
	</div>
</div>